<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineTicketingSystem.dao.ClassifyDao">
    <select id="findAllClassifyByID" resultType="com.onlineTicketingSystem.pojo.Classify">
        select * from classify where id=#{id};
    </select>


    <delete id="deleteById">
        delete from classify where id=#{id};
    </delete>

    <insert id="insertClassifyById">
        insert into classify values(#{id},#{classify.type},#{classify.region},#{classify.period});
    </insert>
</mapper>