<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineTicketingSystem.dao.LocationDao">
    <select id="selectAllLocationByName" resultType="com.onlineTicketingSystem.pojo.Location">
        select * from location where name=#{name};
    </select>
</mapper>