<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineTicketingSystem.dao.MovieDao">
    <select id="selectAllInformation" resultType="com.onlineTicketingSystem.pojo.Moive">
        select * from movie;
    </select>

    <delete id="deleteById">
        delete from movie where id=#{id};
    </delete>
</mapper>