<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineTicketingSystem.dao.UserDao">
    <select id="selectUser" resultType="com.onlineTicketingSystem.pojo.User">
        select * from user where username=#{username} and password=#{password};
    </select>

    <select id="selectByUsername" resultType="String">
        select count(*) from user where username=#{username};
    </select>

    <select id="createUser">
        insert into user(username,password) values(#{username},#{password});
    </select>


    <select id="findAllUesr" resultType="String">
        select username from user;
    </select>

</mapper>